<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
  </head>

  <body>
    <header class="flex justify-between items-center h-20">
      <h1 class="text-4xl my-2 mx-4 font-bold">
        Welcome, <%= firstName %> <%= lastName %>
      </h1>
      <div>
        <a href="/changePassword" class="bg-blue-600 py-2 px-4 rounded text-white hover:border-blue-600 hover:border hover:bg-white hover:text-blue-600">
          Change Password
        </a>
        <a
          href="/signout"
          class="py-2 px-4 text-white bg-green-600 mx-6 hover:border-green-600 hover:border hover:bg-white hover:text-green-600"
          >Logout</a
        >
      </div>
    </header>
    <main>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <% if(userType==="student") {%> <%- include("student") %> <% } else { %>
      <%- include("educator") %> <% } %>
    </main>
  </body>
  <% if (userType==="student") {%>
  <script>
    async function enrollCourse(courseId) {
      const res = await fetch("/enroll", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "<%= csrfToken %>",
        },
        body: JSON.stringify({
          courseId,
          _csrf: "<%= csrfToken %>",
        }),
      });
      window.location.reload();
    }
  </script>
  <% } %>
</html>
