<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %></title>
    <script src="https://cdn.tailwindcss.com/3.4.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
  </head>
  <body>
    <header class="flex items-center justify-evenly w-[90%] m-auto">
      <a
        href="/dashboard"
        class="bg-green-700 text-white rounded px-4 py-2 ml-8"
        >Home</a
      >
      <h1 class="my-6 font-bold text-4xl"><%= name %></h1>
      <% if(courseOwner) { %>
      <button
        onclick="deletePage(Number('<%= pageId %>'))"
        class="border-red-700 border rounded px-4 py-2 bg-red-700 text-white hover:bg-white hover:text-red-700"
      >
        Delete Page
      </button>
      <% } %>
    </header>
    <hr class="h-1 w-[80%] m-auto bg-gray-200 border-0 dark:bg-gray-700" />
    <main class="min-h-[70vh]">
      <div class="px-24 py-8" id="markdown-content"><%= content %></div>
    </main>
    <footer>
      <div class="w-full px-40 flex items-center justify-between">
        <% if (prevPageId >= 0) { %>
        <a href="/pages/<%= prevPageId %>" class="p-4 bg-slate-300 rounded"
          >Previous Page</a
        >
        <% } %> <% if (userType === "student" && !pageComplete) { %>
        <button
          onclick="markComplete(Number('<%= pageId %>'))"
          class="bg-green-600 py-4 px-16 rounded text-white"
        >
          Mark as complete
        </button>
        <% } else if (userType === "student" && pageComplete) { %>
        <div class="bg-gray-600 py-4 px-16 rounded text-white italic">
          Completed
        </div>
        <% } %> <% if(nextPageId !== -1) {%>
        <a href="/pages/<%= nextPageId %>" class="p-4 bg-slate-300 rounded"
          >Next Page</a
        >
        <% } %>
      </div>
    </footer>
  </body>
  <script>
    if ("<%= courseOwner%>" === "false") {
      document.querySelector("h1").classList.add("text-center");
      document.querySelector("h1").classList.add("w-full");
      document.querySelector("header").classList.add("m-auto");
    }
    const markdownContent =
      document.getElementById("markdown-content").innerHTML;
    const converter = new showdown.Converter();
    const htmlContent = converter.makeHtml(markdownContent);
    document.getElementById("markdown-content").innerHTML = htmlContent;

    async function deletePage(id) {
      const res = await fetch("/page", {
        method: "delete",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "<%= csrfToken %>",
        },
        body: JSON.stringify({
          id,
          _csrf: "<%= csrfToken %>",
        }),
      });
      console.log(res.url);
      window.location = res.url;
    }
  </script>
  <% if(userType === "student") { %>
  <script>
    async function markComplete(id) {
      const res = await fetch("/markComplete", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "<%=csrfToken%>",
        },
        body: JSON.stringify({
          _csrf: "<%=csrfToken%>",
          id: id,
        }),
      });
      if (res.ok) {
        window.location.reload();
      }
    }
  </script>
  <% } %>
</html>
